* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100dvh;
    background-image: url(./img/bg.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 2rem;
    border-radius: 1rem;
}

.game-title {
    font-size: 2rem;
    font-weight: 900;
    color: white;
    text-shadow: 0 0 0.25rem black, 0 0 1rem rgb(40, 180, 229);
    line-height: 150%;
    max-width: 75vw;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.panel {
    min-height: fit-content;
    background-color: rgb(40, 180, 229);
    border-radius: 0.5rem;
    padding: 1em;
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

button:active {
    background-color: rgb(40, 180, 229);
}

.player-hand {
    height: 100px;
    width: 100px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

.result {
    min-height: 5.5rem;
}

hr {
    border: 1px dashed white;
    margin: 0.5rem;
}

.game-over {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
    background-color: rgb(40, 180, 229);
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 1.5em;
    transform: scale(1);
    transition: 300ms ease-in-out;
}

.game-over.hide {
    transform: scale(0);
}

.game-over>p {
    font-weight: bold;
    text-shadow: 0 0 0.3rem white;
    margin-bottom: 0.5rem;
}

.reset,
.reset:hover,
.reset:active {
    border: 2px solid white;
}

footer {
    height: 10dvh;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: .3rem;
    text-align: center;
    font-size: .9rem;
    color: white;
    text-shadow: 0 0 0.25rem black, 0 0 1rem rgb(40, 180, 229);
}

footer>a {
    scale: 1;
    transition: transform 0.3s ease-in-out;
}

footer>a:hover {
    transform: rotateY(360deg) scale(1.3);
}